<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
  <div class="py-5 text-center">
    <h2></h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="row pb-3">
        <label class="col-sm-2 col-form-label">제목</label>
        <label class="col-sm-10 col-form-label" th:text="${post.title}"></label>
      </div>
      <div class="row pb-3">
        <label class="col-sm-2 col-form-label">작성자</label>
        <label class="col-sm-10 col-form-label" th:text="${post.account.nickname}"></label>
      </div>
      <div class="form-group row pb-3">
        <label class="col-sm-2 col-form-label">작성일</label>
        <label class="col-sm-10 col-form-label" th:text="${#temporals.format(post.getCreatedAt(), 'yyyy-MM-dd HH:mm')}"></label>
      </div>
      <div class="form-group pb-2">
        <textarea class="form-control" name="contents" id="contents" rows="10" th:text="${post.contents}" readonly></textarea>
      </div>
      <div class="form-group">
        <a class="btn btn-secondary" th:href="@{/}" role="button">목록으로</a>
        <span sec:authorize="isAuthenticated()" th:if="${post.isWriter(#authentication.principal)}">
          <a class="btn btn-success" th:href="@{'/post/update/' + ${post.id}}" role="button">수정하기</a>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePostModal">삭제하기</button>
          <!-- Modal -->
          <div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">게시글 삭제</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  게시글 삭제 시, 복구가 불가능합니다.<br>
                  게시글을 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light" data-bs-dismiss="modal">취소</button>
                  <form th:action="@{'/post/' + ${post.id}}" th:method="delete">
                    <button type="submit" class="btn btn-dark">삭제</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </span>
      </div>

      <div class="pt-3">
        <span sec:authorize="isAuthenticated()" th:if="${!account.isEmailVerified()}">
          <div class="alert alert-warning" role="alert" style="margin: 0">
            이메일 인증 후 댓글을 작성할 수 있습니다.
          </div>
        </span>
        <span sec:authorize="!isAuthenticated()">
          <div class="alert alert-warning" role="alert" style="margin: 0">
            로그인 후 댓글을 작성할 수 있습니다.
          </div>
        </span>
      </div>

      <ul class="list-group" style="padding-top: 20px">
        <span sec:authorize="isAuthenticated()" th:if="${account.isEmailVerified()}">
          <li class="list-group-item">
            <form method="post" th:action="@{/comment/write}" th:object="${writeCommentForm}">
              <input type="hidden" th:value="${post.id}" th:name="postId" th:id="postId">
              <div class="row g-2">
                <div class="form-check ms-1">
                  <input class="form-check-input" type="checkbox" id="gridCheck1" th:field="*{secret}">
                  <label class="form-check-label" for="gridCheck1">비공개</label>
                </div>
                <div class="mb-2">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{contents}" required></textarea>
                  <small class="invalid-feedback">내용을 입력하셔야 합니다.</small>
                </div>
                <div class="mb-1">
                  <input type="submit" class="btn btn-dark" value="등록" style="width: 100%">
                </div>
              </div>
            </form>
          </li>
        </span>
        <li class="list-group-item" th:each="comment : ${comments}">
          <div class="row">
            <label class="col-md-10" th:text="|${comment.account.nickname} (${#temporals.format(post.getCreatedAt(), 'yyyy-MM-dd HH:mm')})|"></label>
            <label class="col-md-2 ml-auto" style="text-align: right">
              <span sec:authorize="isAuthenticated()" th:if="${comment.isWriter(#authentication.principal)}">
                <a th:href="@{'/comment/update/' + ${comment.id}}" class="text-decoration-none text-black">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="#" class="text-decoration-none text-black" data-bs-toggle="modal" data-bs-target="#deleteCommentModal">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">댓글 삭제</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body" style="text-align: left">
                        댓글을 삭제하시겠습니까?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">취소</button>
                        <form th:action="@{'/comment/' + ${comment.id}}" th:method="delete">
                          <button type="submit" class="btn btn-dark">삭제</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </span>
            </label>
          </div>
          <span th:if="${comment.commentType == T(com.aiden.dev.simpleboard.modules.comment.CommentType).PRIVATE}">
            <span sec:authorize="isAuthenticated()">
              <span th:if="${comment.isWriter(#authentication.principal)}">
                <textarea class="form-control" style="height: 100px" th:text="${comment.contents}" readonly></textarea>
              </span>
              <span th:unless="${comment.isWriter(#authentication.principal)}">
                <textarea class="form-control" style="height: 100px" readonly>비공개 댓글입니다.</textarea>
              </span>
            </span>
            <span sec:authorize="!isAuthenticated()">
              <textarea class="form-control" style="height: 100px" readonly>비공개 댓글입니다.</textarea>
            </span>
          </span>
          <span th:unless="${comment.commentType == T(com.aiden.dev.simpleboard.modules.comment.CommentType).PRIVATE}">
            <textarea class="form-control" style="height: 100px" th:text="${comment.contents}" readonly></textarea>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div th:replace="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>