<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: main-nav"></div>

<div class="alert alert-warning text-center" role="alert" th:if="${account != null && !account?.emailVerified}">
  게시글이나 댓글을 작성하시려면 <a th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
</div>

<div class="alert alert-dismissible fade show text-center" role="alert" th:classappend="${alertType}" th:if="${message}">
  <span th:text="${message}"></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-10">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="col-1" scope="col">#</th>
          <th class="col-4" scope="col">제목</th>
          <th class="col-2" scope="col">작성자</th>
          <th class="col-2" scope="col">작성일</th>
          <th class="col-1" scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, iStat : ${posts}">
          <td th:text="${iStat.index + 1}"></td>
          <td>
            <span th:if="${post.postType == T(com.aiden.dev.simpleboard.modules.post.PostType).PRIVATE}"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <a class="text-decoration-none text-black" th:href="@{'/post/' + ${post.id}}"><span th:text="${post.getTitle()}"></span></a>
          </td>
          <td th:text="${post.getAccount().getNickname()}"></td>
          <td th:text="${#temporals.format(post.getCreatedAt(), 'yyyy-MM-dd HH:mm')}"></td>
          <td th:text="${post.getHits()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-10">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${!posts.hasPrevious()}? disabled">
            <a class="page-link" th:href="@{/(page=${posts.getNumber()})}">Prev</a>
          </li>
          <li class="page-item" th:classappend="${i - 1 == posts.getNumber()}? active" th:each="i: ${#numbers.sequence(1, posts.getTotalPages())}">
            <a class="page-link" th:href="@{/(page=${i})}" th:text="${i}"></a>
          </li>
          <li class="page-item" th:classappend="${!posts.hasNext()}? disabled">
            <a class="page-link" th:href="@{/(page=${posts.getNumber() + 2})}">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <form class="nav justify-content-center" th:method="get" th:action="@{/}">
    <div class="col-auto ps-1">
      <select class="form-select" name="category" id="category">
        <option th:value="title">제목</option>
        <option th:value="writer">작성자</option>
      </select>
    </div>
    <div class="col-auto ps-1">
      <input type="text" class="form-control" name="keyword" id="keyword" th:value="${keyword}">
    </div>
    <div class="col-auto ps-1">
      <input type="submit" class="btn btn-secondary" value="검색">
    </div>
    <div class="col-auto ps-1">
      <a th:href="@{/post/write}" class="btn btn-dark">글쓰기</a>
    </div>
  </form>

  <div th:replace="fragments.html :: footer"></div>
</div>
</body>
</html>